@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}
h1{
  color:#293A52;
  
}

body {
	text-align: center;
	background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
	font-family: "Roboto", sans-serif;
	color: whitesmoke;
}

.main {
  display: grid;
  justify-content: center;
  align-items: center;
  background: rgba(245, 245, 245, 0.4);
  margin: 25px;
  box-shadow: 1px 2px 1px #dbe1e5;
  border-radius: 20px 20px 0 0;
}
.container {
  display: grid;
  grid-template-columns: 100px 100px;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.alignbtn {
  margin: 50px;
  display: grid;
  justify-content: flex-end;
  align-items: center;
}

input {
  display: flex;
  padding: 10px;
  text-align: center;
  border: #0b4287;
  border-radius: 10px;
  border: 1px solid #dbe1e5;
}
select {
  background-color: #283a52;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dbe1e5;
  cursor: pointer;
}
#original-currency-amount{
	cursor: pointer;	
}

input:focus {
  outline: 0;
}

button {
  padding: 15px;
  border-radius: 0 10px 0 10px;
  background-color: #fcb813;
  font-size: 20px;
  color: #0b4287;
  width: 50px;
  justify-content: center;
  align-items: center;
  border: #fcb813;
}

select:focus,button:focus {
  outline: none;
}

.alignbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
